:root {
  --accentColor: rgb(252, 71, 71);
  --darkBgColor: rgb(16, 20, 30);
  --lightBGcolor: rgb(22, 29, 47);
  --primaryColor: rgb(255, 255, 255);
  --secondaryColor: rgb(90, 105, 143);
  --breakpointSm: 375px;
  --breakpointMd: 768px;
  --breakpointLg: 1440px;
  --transition: 250ms;
}
